@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 0 90% 95%;
    --card-foreground: 0 0% 10%;

    --primary: 0 79% 44%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 79% 44%;

    --muted: 0 79% 94%;
    --muted-foreground: 0 79% 44%;

    --accent: 0 79% 94%;
    --accent-foreground: 0 79% 44%;

    --destructive: 0 79% 44%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 79% 44%;
    --input: 0 79% 44%;
    --ring: 0 79% 44%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 98%;

    --card: 0 79% 15%;
    --card-foreground: 0 0% 98%;

    --primary: 0 79% 54%;
    --primary-foreground: 0 0% 8%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 79% 54%;

    --muted: 0 79% 25%;
    --muted-foreground: 0 79% 64%;

    --accent: 0 79% 25%;
    --accent-foreground: 0 79% 64%;

    --destructive: 0 79% 54%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 79% 54%;
    --input: 0 79% 54%;
    --ring: 0 79% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
